body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#19a7b5;
  text-align:center;
}

header{
  padding:20px;
  color:red;
}

h1{
  margin:0;
}

#contador{
  color:black;
  margin-top:10px;
  font-weight:bold;
}

main{
  padding:20px;
}

/* galeria de gatos */

#galeria{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap:20px;
  max-width:1000px;
  margin:auto;
}

#galleria img{
  width:100%;
}

/* estilo das imagens */

.gato{
  width:100%;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

/* botões */

.botoes{
  position:sticky;
  bottom:0;
  background:#19a7b5;
  padding:20px;
}

button{
  padding:12px 25px;
  margin:10px;
  border:2px solid red;
  background:white;
  color:red;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:red;
  color:white;
}

/* responsivo */

@media (max-width:600px){

  h1{
    font-size:24px;
  }

}